.content-page {
  padding: 2rem;
  padding-top: 140px;
  padding-bottom: 2rem;
  font-size: 1.1rem;
  text-align: justify;
  background-color: #086788;
  .info-container {
    padding: 2rem 4rem;
    background-color: #FFF;
    max-width: 1000px;
    margin: 0 auto;
  }

  .bio-image {
    float: right;
    margin: 2rem;
    margin-top: 0;
    max-width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  .content-page {
    padding: 0.5rem;
    padding-top: 85px;

    .info-container {
      padding: 1.4rem;
    }
  }


}
