//Colors:
// #01AA9D
// #086788
// #F0C808
// #FFF1D0
// #DD1C1A

$primary-green: #01AA9D;
$light-text: #e9e9e9;
$dark-text: #090909;
$yellow: #FFDD00;

em {
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 18px;
}

img {
  min-width: 1px;//Stupid IE bug fix, force re-compute of height
}

.headroom .button {
  height: 45px; //Set the actual height to fix IE issues
  font-size: 1rem;
  @media screen and (min-width: 480px) {
    font-size: 1.2rem;
  }
}

#primary-banner {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $light-text;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

#primary-banner .logo-container {
  min-height: 1px; //Stupid IE bug fix, forcing a re-compute of heights
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: 0.185em;
  font-weight: normal;
  text-align: center;
  margin: 1rem;
  @media screen and (min-width: 480px) {
    width: 400px;
  }
}

#primary-banner .tagline {
  margin-top: 1rem;
  font-family: 'Playball';
  font-size: 1.6rem;
  font-weight: normal;
  color: $primary-green;
}
#primary-banner h2 {
  font-weight: normal;
}
#primary-banner p {
  letter-spacing: 0.1em;
  max-width: 600px;
  text-align: center;
  margin: 1.4rem;
}

#primary-banner img {
  margin-bottom: 0px;
}

#primary-banner .input-container {
	margin-top: 2em;
	font-size: 1.2em;
}
#primary-banner .input-container input {
	display: block;
}

.section {
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 600px;
}

.section > *{
  max-width: 1000px;
  margin: 0 auto;
  @media(min-width: 1400px) {
    max-width: 1200px
  }
}

.photo-1 {
  width: 350px;
}
.image-section-container {
  display: flex;
  flex-direction: column;
  @media(min-width: 900px) {
  	flex-direction: row;
  }
}
.section-image {
  flex-shrink:0;
  display: flex;
  justify-content: center;
  img {
    box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
    align-self: center;
  }
  @media(max-width: 899px) {
    margin: 0 auto!important;
  }
}
.content-container {
	padding: 0 3em;
  max-width: 800px;
  flex-shrink: 1;
  display: flex;
}

$ribbon-color: #fff;
.ribbon {
  max-width: 400px;
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  position: relative;
  background: $ribbon-color;
  color: $dark-text;
  font-weight: normal;
  text-align: center;
  padding: 0.6em 1em; /* Adjust to suit */
  margin: 2em auto 0em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon a {
  color: $light-text;
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid lighten($ribbon-color, 10);
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: darken($ribbon-color, 10) transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.ribbon h2 {
  margin-bottom: 0px;
}

.ribbon-container {
  position: relative;
  z-index: 1;
  bottom: 0px;
  margin-bottom: 1.7rem;
}

@media(min-width:900px) {
	.ribbon-container {
		width: 900px;
	}
	.ribbon {
		width: 50%;
	}
}

#details {
  background-color: #086788;
  color: $light-text;
  a {
    color: $light-text;
  }
  .content-container {
    flex-direction: column;
  }

  em.highlight {
    color: $yellow;
    font-size: 1rem;
    a {
      color: $yellow;
    }
  }
}

.detail-row {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.detail-row.header-section {
  flex-direction: column;
}
.detail-row.header-section h2 {
  text-align: center;
}

#details .callout {
  background-color: #F0C808;
  border: 1px solid #AAA;
  border-radius: 8px;
  box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
  padding: 1.5rem 1rem;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
  h3 {
    margin-bottom: 0px;
  }
  a {
    color: #333;
    text-decoration: none;
  }
}

#details em {
  font-size: 1.4rem;
}

#section3 {
  background-color: #fff;
  color: white;
}
#section3 .image-section-container {
	flex-direction: column-reverse;
	@media (min-width: 900px) {
  	flex-direction: row-reverse;
  }
}
#section3 .section-image {
  margin-right: 0px;
  margin-left: 4rem;
  @media (min-width: 450px) {
    width: 450px;
  }
}

.box-container {

}
.box {
  background-color: #01AA9D;
  color: #fff;
  padding: 1em;
  box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
  margin-bottom: 2rem;
}

.map-container {
  position: absolute;
   height: 300px;
   width:100%;
}
@media(min-width: 900px) {
  .map-container {
    height: 600px;
  }
  #map {
    flex-direction: row;
  }
  #map .map-details {
    position: absolute;
    right: 0;
    width: 600px;
  }
}

#map {
  background-color: #086788;
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
}
#map > * {
  margin: 0;
  max-width: inherit;

}
#map .map-details {
  height: 100%;
  padding: 2rem;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  a {
    color: #fff;
  }
}

#sponsors {
  background-color: rgba(0,0,0,0);
  padding: 2rem;
  .sponsor-container {
    display: flex;
    margin: 0 auto 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sponsor {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin-left: 1rem;
    text-align: center;
  }
  .sponsor:first-of-type {
    margin-left: 0;
  }
  .sponsor-image-container {
    margin: auto;
    min-height: 1px; //Force IE reflow again
    display: flex;
    align-items: center;
    height: 125px;
  }
  .sponsor-image-container img {
    margin-bottom: 0px;
    max-height: 100%;
  }
  .sponsor h3 {
    margin-bottom: 0;
  }
  a.sponsor {
    color: #000;
    text-decoration: none;
  }
}

#speakers {
  padding: 2rem;
  background-color: #01AA9D;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .speaker-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
  }

  .speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    width: 290px;
    text-align: center;
  }
  .speaker-short {
    font-size: 0.85rem;
    color: darken(#fff, 13);
    padding: 0 1.8rem;
  }
  .speaker .img-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    width: auto;
    overflow: hidden;
  }
  .img-container img {
    width: 200px;
  }
  h2 {
    margin-top: 2rem;
  }
}
