//Colors:
// #01AA9D
// #086788
// #F0C808
// #FFF1D0
// #DD1C1A

$light-text: #e9e9e9;

#primary-banner {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $light-text;
  padding-top: 80px;
}

#primary-banner h1 {
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: 0.185em;
  width: 400px;
  font-weight: normal;
}

#primary-banner h2 {
  font-weight: normal;
}

#primary-banner p {
  letter-spacing: 0.1em;
  max-width: 600px;
  text-align: center;
}

#primary-banner img {
  margin-bottom: 0px;
}

.section {
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 600px;
}

.section > *{
  max-width: 1000px;
  margin: 0 auto;
}

.photo-1 {
  width: 350px;
}
.image-section-container {
  display: flex;
  flex-direction: row;
}
.section-image {
  width: 350px;
  flex-shrink:0;
  margin-right: 4rem;
  display: flex;
  img {
    box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
    align-self: center;
  }
}

$ribbon-red: #DD1C1A;
.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;
 position: relative;
 background: $ribbon-red;
 color: $light-text;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 0em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon a {
  color: $light-text;
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid lighten($ribbon-red, 10);
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: darken($ribbon-red, 10) transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.ribbon h2 {
  margin-bottom: 0px;
}

.ribbon-container {
  position: relative;
  z-index: 1;
  width: 900px;
  bottom: 0px;
}

#details {
  background-color: #086788;
  color: $light-text;
}

.detail-row {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-row.header-section {
  flex-direction: column;
}
.detail-row.header-section h2 {
  text-align: center;
}

.callout {
  background-color: #F0C808;
  border: 1px solid #AAA;
  border-radius: 8px;
  box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
  padding: 1.5rem 1rem;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
  h3 {
    margin-bottom: 0px;
  }
  a {
    color: #333;
    text-decoration: none;
  }
}

#section3 {
  background-color: #fff;
  color: white;
}
#section3 .image-section-container {
  flex-direction: row-reverse;
}
#section3 .section-image {
  margin-right: 0px;
  margin-left: 4rem;
  width: 450px;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box {
  background-color: #01AA9D;
  color: #fff;
  padding: 1em;
  box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
  margin-bottom: 2rem;
}
